.App {
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  padding: 20px;
  padding-right: 40%;
}

.header {
  display: flex; 
  position: fixed;
  background-color: #FAE1DD;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style-type: none;
  padding: 20px;
  margin-left: auto;
}

.project {
  background-color: #F8EDEB;
  margin: 100px;
}

.footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #D8E2DC;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}